.about,
.family-friends,
.get-involved,
.treatment {
    background: #fafafa;
    font-family: Arial;
    color: #0a1172;
    text-align: center;
    font-size: 40px;
}

.aboutgrid {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-gap: .5rem;
}

.treatmentgrid {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-gap: .5rem;
}

body {
    background-color: rgb(203, 202, 197);
    top: 0;
    margin: 0;
}

p {
    font-family: Arial;
    color: #0a1172;
}

h1 {
    text-align: center;
    font-size: 40px;
    color: #0a1172;
    font-style: italic;
    background-color: rgb (203, 202, 197);
    margin: 1.5%;
}

h2,
h3,
h4,
h5,
h6 {
    text-align: center;
    font-size: 40px;
    color: #0a1172;
    font-style: italic;
    background-color: rgb (203, 202, 197);
    margin: 1.5%;
}

.post h2 {
    background-color: rgb (203, 202, 197);
    font-family: Arial;
    text-align: left;
}

nav a {
    color: #0a1172;
    display: inline-block;
    text-align: center;
    font-family: Arial;
    font-size: 20px;
    text-decoration: none;
}

.post {
    display: flex;
    flex-direction: row;
    text-align: left;
    gap: 20px;
    align-items: top;
    font-size: 20px;
    margin: 1.5%;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}